<div
  class="w-full h-screen overflow-hidden relative bg-gradient-to-br from-primary-light to-secondary-light flex flex-col items-center justify-center"
>
  <div class="flex flex-col items-center" @fadeInOut>
    <div class="bg-white p-6 rounded-full shadow-lg mb-6" @slideInFromTop>
      <!-- <lucide-icon
        name="droplets"
        [size]="80"
        class="text-primary-light"
      ></lucide-icon> -->
    </div>
    <h1 class="text-5xl font-bold text-white tracking-wider" @slideInFromBottom>
      SQUO
    </h1>
    <p class="text-white text-lg mt-2 opacity-90" @slideInFromBottom>
      Fenntarthatóság újragondolva
    </p>
  </div>
</div>
